@import "tailwindcss";

@import "uploadthing/tw/v4";
@source "../node_modules/@uploadthing/react/dist"; /** <-- depends on your project structure */

:root {
  --bloggin-background: #050505;
  --bloggin-foreground: #ececec;
  --bloggin-muted: #8c8c8c;
  --bloggin-border: #525252;
  --bloggin-accent: rgb(173 235 179 / 70%);
  --bloggin-neon: #22d3e7;
}

.overlay-transition {
  transition-property: backdrop-filter, background-color, opacity;
  transition-duration: 500ms;
  transition-timing-function: ease-in-out;
}

.overlay-transition::before {
  transition-property: backdrop-filter, background-color, opacity;
  transition-duration: 500ms;
  transition-timing-function: ease-in-out;
}

.overlay-transition::after {
  transition-property: backdrop-filter, background-color, opacity;
  transition-duration: 500ms;
  transition-timing-function: ease-in-out;
}

@theme {
  --font-sans:
    var(--font-geist-sans), ui-sans-serif, system-ui, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";

  --color-bloggin-background: var(--bloggin-background);
  --color-bloggin-foreground: var(--bloggin-foreground);
  --color-bloggin-muted: var(--bloggin-muted);
  --color-bloggin-border: var(--bloggin-border);
  --color-bloggin-accent: var(--bloggin-accent);
  --color-bloggin-neon: var(--bloggin-neon);
}

html {
  color-scheme: dark;
}

body {
  min-height: 100vh;
  background: var(--bloggin-background);
}

p {
  color: var(--color-bloggin-muted);
}

h1,
h2,
h3,
h4 {
  color: var(--color-bloggin-foreground);
}
